<section id="top-bar">
  <!-- Menu Start -->
  <input id="menu-checkbox" name="menu-checkbox" type="checkbox" />
  <label id="menu-label" for="menu-checkbox"></label>
  <nav>
    <ul id="menuTrigger">
      <li><a routerLink="/">Hem</a></li>
      <li><a routerLink="/portfolio">Portfolio</a></li>
      <li class="hide-on-large"><a routerLink="/map">Hitta hit</a></li>
      <li class="hide-on-small"><a routerLink="/contact">Kontakt</a></li>
      <li class="hide-on-small title"><a routerLink="/">Nettas<span> Gardinsömnad</span></a></li>
    </ul>
  </nav>
  <!-- Menu End -->
  <ul>
    <li>
      <!-- Placeholder for Menu-checkbox -->
    </li>
    <li>
      <a href="tel:0704714719"><i class="icon_call" style="text-decoration:none;"></i></a>
    </li>
    <li>
      <a href="mailto:info@nettas.se"><i class="icon_email"></i></a>
    </li>
  </ul>
</section>
<header class="hide-on-large">
  <img class="handscript" src="{{images}}/banner.png" />
  <h1>Nettas Gardinsömnad<span class="hide-on-small"> i Sundsvall</span></h1>
</header>
