$primary: #ff4081;
$secondary: #f06292;
$thirdly: #ff80ab;
$text-color: #ffffff;
$icon-color: #ffffff;
$shadow: rgba( 250, 250, 250, 0.1);
$height: 70px;
$text-size: 24px;
$font: "Brush Script MT",
cursive;
$speed: 150ms;
$delay: 0ms;
$brakepoint: 570px;
