section#address {
  float: left;
  width: calc(60% - 32px);
  margin: 16px;
  h3 {
    font-size: 22px;
  }
  a {
    text-decoration: none;
  }
}

section#contactForm {
  width: calc(60% - 32px);
  margin: 16px;
}

section#map {
  float: right;
  width: 40%;
}
