section {
  padding: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: 0.5vw;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 400px) {
  section div {
    margin: 0;
  }
  section {
    padding: 0;
  }
}
