<section>
  <div class="papers handscript">
    <figure>
      <img src="{{images}}/netta.jpg" />
    </figure>
    <h5>
      Hej och välkomna!
    </h5>
    <p>
      Jag heter Jeanette Sundström, och jag jobbar här på Nettas Gardinsömnad i Sundsvall.
    </p>
    <p>
      Jag har alltid haft ett intresse av inredning, och då främst den textila delen. Därför har jag nu kommit fram till att jag ska ha det som yrke, i form av en ateljé hemma.
    </p>
    <div id="pencil" class="hide-on-small">
      <div id="point"></div>
      <div id="wood"></div>
      <div id="stock-left"></div>
      <div id="stock-right"></div>
      <div id="metal"></div>
      <div id="rubber"></div>
    </div>
    <p>
      Jag riktar mig i första hand till privatpersoner och tanken är att du som kund ska kunna komma med ditt tyg, och sedan syr jag efter dina önskemål. Men om du vill ha lite tips och idéer, bistår jag gärna med det också. Om du har en bra idé, så kan jag hjälpa dig att genomföra den.
    </p>
    <p>
      Kolla gärna in mitt <a routerLink="/portfolio">portfolio</a> också.
    </p>
    <p>
      <img class="flower hide-on-small" src="{{images}}/pink-flower.svg" />
    </p>
    <br />
    <p class="sign">
      Netta
    </p>
    <br />
    <br class="hide-on-large" />
  </div>
</section>
